<!DOCTYPE html>
<html lang="pt-br">
 <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <h1><%=   title   %></h1>

    <% if(typeof message !== 'undefined') { %>
        <%= message%>
    <% } %>
    <form action="/edit/<%= user._id %>" method="post">
        <div>
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" placeholder="Digite seu nome" value="<%= user.name %>">
        </div>
        <div>
            <label for="idade">Idade</label>
            <input type="text" name="age" id="age" placeholder="Digite sua Idade" value="<%= user.age %>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Digite seu email" value="<%= user.email %>">
        </div>
        

        <button type="submit">Editar</button>
    </form>

    <%- include('partials/foot.ejs') %>
</body>
</html>